*{
    margin:0;
    padding: 0;
}
body{
    background-color: #06090f;
}
nav{
    background-color: #161b22;
}
nav ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-end;
}
.active{
    color: #498ad3;
}

nav li:hover{
    color: #89befc;
    text-decoration: underline;
    cursor: pointer;
}

li{
    padding: 15px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}
.time{
    margin-bottom: 30px;
    color: white;
    font-size: 55px;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec2{
    color: white;
    padding: 10px;
    font-size: 30px;
    animation: pulse 1s infinite  ;
}

.spin{
    position: absolute;
    border: 1.5px solid;
    height: 50px;
    width: 50px;
    border-color: yellow #f1f1f1 #f1f1f1;
    border-radius: 100%;
    animation: spinner 1s linear  infinite ;
}

@keyframes spinner{
    from{
        transform: rotate(0deg);
    }to{
        transform:rotate(360deg);
    }
}

@keyframes pulse{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

nav{
    color:white;
}

.stopWatchTime{
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
}

button{
    margin-top: 100px;
    color: white;
    padding: 7px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.stop-watch-btn{
    background-color: #0e55a7;
}

.Resume-btn{
    background-color: #0e55a7;
    display: none;
}

.after-start-stopwatch-btn{
    display: none;
}

.Stop-btn{
    background-color: #0e55a7;
}

.Reset-btn{
    background-color :rgb(133, 37, 37);
}